/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 18, 2019, 4:10:30 PM
    Author     : Sebrina
*/

h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
color: black;
text-align: left;
}

h2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: black;
text-align: left;
}


