body {
    font-size: 19px;
    height: 100%;
    background-color: #848484;
    font-family: Arial, Helvetica, sans-serif;
    
    max-width: 1100px;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;

}

h1, h2 {
    margin: 0;
    text-align: center;
}

.pagecontent{
    min-height: 80%;
    background-color: white;
    margin: 0;
    padding: 10px;

}

.report{
   min-height: 80%;
    background-color: white;
    margin: 0;
    padding: 10px;
}
.report table{
    margin-left: 40px;
}
.report h2{
    margin-left: 40px;
    text-align: left;
}


.pagecontent .wrapper {
    width: fit-content;
    margin: auto;
}
table{
    
    width: auto;
    margin: 0px auto;
    border-collapse: collapse;
    text-align: left;
}
tr {
    border-bottom: 1px solid #cbcbcb;
}
th, td{
    border: none;
    height: 30px;
    padding: 2px;
}
tr:hover {
    background: #F5F5F5;
}

form {
    width: 45%;
    margin: 20px auto;
    text-align: left;
    padding: 20px; 
    border: 1px solid #bbbbbb; 
    border-radius: 5px;
}
.input-radio{
    margin: 10px 0px 10px 0px; 
}

.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 20px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.input-group select {
    height: 30px;
    width: 98%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}

.exp_btn{
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.msg {
    margin: 0px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}

.del_btn.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

#printfriendly #pf-src {
    display:none;
}

#printfriendly #pf-title{
    display:none;
}
